# OS Generated
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# Environments
venv
.venv/
env/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Editors
.idea/
.vscode/

# Vagrant
bozhena_oliinyk/.vagrant/
*.log
